@using Watermarks.Common
@using Watermarking
@using System.Drawing;
@using System.IO;


<link rel="stylesheet" type="text/css" href="~/Pages/Auth/Layouts/filetable.css">
<link rel="stylesheet" type="text/css" href="~/Pages/Auth/Layouts/fileload.css">


@{
    Layout = "~/Pages/Auth/Layouts/_Layout.cshtml";
    Page.Name = "Profile";


    var userlogic = DependencyResolver.UserLogic;
    var filelogic = DependencyResolver.FileLogic;
    var filestorage = DependencyResolver.FileStorageLogic;
    var filemanager = DependencyResolver.FileManager;

    var user = userlogic.FindByLogin(User.Identity.Name);

    var files = filelogic.GetAllFilesForUser(user.Login);

    if (IsPost)
    {
        if (Request.Files.AllKeys.Contains("new_file"))
        {
            HttpPostedFileBase MyFile = Request.Files["new_file"];
            if (MyFile.FileName.Length > 0)
            {
                byte[] data;
                using (Stream inputStream = MyFile.InputStream)
                {
                    MemoryStream memoryStream = inputStream as MemoryStream;
                    if (memoryStream == null)
                    {
                        memoryStream = new MemoryStream();
                        inputStream.CopyTo(memoryStream);
                    }
                    data = memoryStream.ToArray();
                }
                filemanager.Add(User.Identity.Name, data, MyFile.FileName);
            }
            Response.Redirect(Request.RawUrl);
        }
        if (Request.Form.AllKeys.Contains("delete_file_id"))
        {
            int c;
            if (Int32.TryParse(Request["delete_file_id"], out c))
            {
                filemanager.Delete(c);
            }
            Response.Redirect(Request.RawUrl);
        }

        if (Request.Form.AllKeys.Contains("fragileprotect_file_id"))
        {
            var file = filelogic.FindFileById(Convert.ToInt32(Request["fragileprotect_file_id"]));
            ImageWatermarkEmbed wb = new ImageWatermarkEmbed("Test", new Bitmap(file.Path), 50);
            //wb.Execute();
            Response.Redirect(Request.RawUrl);
        }
        if (Request.Form.AllKeys.Contains("robustprotect_file_id"))
        {
            var file = filelogic.FindFileById(Convert.ToInt32(Request["robustprotect_file_id"]));
            ImageWatermarkEmbed wb = new ImageWatermarkEmbed("Test", new Bitmap(filemanager.GetImage(file.Id)), 50);
            wb.Execute();
            filemanager.ChangeImage(file.Id, wb.ImgOut);
            filemanager.SetProtection(file.Id, "Robust");
            Response.Redirect(Request.RawUrl);
        }
        if (Request.Form.AllKeys.Contains("robustcheck_file_id"))
        {
            var file = filelogic.FindFileById(Convert.ToInt32(Request["robustcheck_file_id"]));
            ImageWatermarkExtract we = new ImageWatermarkExtract(new Bitmap(filemanager.GetImage(file.Id)));
            we.Execute();
            if (we.Mark.Length > 10)
            {
                Response.Write($"<script>window.alert('{we.Mark.Substring(1, 10)}');</script>");
            }
            else
            {
                Response.Write($"<script>window.alert('None');</script>");
            }
        }
        if (Request.Form.AllKeys.Contains("download_id"))
        {
            var file = filelogic.FindFileById(Convert.ToInt32(Request["download_id"]));
            filemanager.DownloadFile(file.Id, @"C://");
            Response.Redirect(Request.RawUrl);
        }
    }
}

<script>

    function readURL(input) {
        if (input.files && input.files[0]) {
            $('#filename').attr('placeholder', input.files[0].name);
        }
    }
</script>

<form method="post" enctype="multipart/form-data">
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Upload files</strong> <small> </small></div>
        <div class="panel-body">
            <div class="input-group image-preview">
                <input placeholder="" type="text" class="form-control image-preview-filename" disabled="disabled" id="filename">

                <div class="btn btn-default image-preview-input">
                    <span class="image-preview-input-title">Browse</span>
                    <input type="file" name="new_file" onchange="readURL(this)" />
                    
                </div>
                <button class="btn btn-labeled btn-primary">Upload</button>

            </div>
        </div>
    </div>
</form>


<section id="files">
    @{
        foreach (var item in files)
        {
            <div class="file-box">
                    <div class="file">
                        @{
                            if (item.Protected == "R")
                            {
                                <span class="corner" style="background: red"></span>
                            }
                            else
                            {
                                <span class="corner"></span>
                            }
                        }

                        <form class="delete" method="post">
                            <input type="text" name="delete_file_id" id="delete_file_id" hidden value="@item.Id">
                            <input type="text" name="delete_file_name" id="delete_file_name" hidden value="@item.Name">
                            <button class="delete"></button>
                        </form>

                        <a href="#">
                            <div class="file-name">
                                @item.Name
                                <br>
                                <small>Protection: @item.Protected</small>
                                <br>
                                <small>Added: @item.Add_Date</small>
                            </div>
                        </a>
                        @{
                            if (item.Extention == ".jpeg" || item.Extention == ".jpg" || item.Extention == ".png" || item.Extention == ".bmp")
                            {
                                if (item.Protected == "false")
                                {
                                    <form method="post">
                                        <input type="text" name="fragileprotect_file_id" id="delete_file_id" hidden value="@item.Id">
                                        <input type="text" name="fragileprotect_file_name" id="delete_file_name" hidden value="@item.Name">
                                        <button class="fragileprotect">Place fragile Watermark</button>
                                    </form>
                                    <form method="post">
                                        <input type="text" name="robustprotect_file_id" id="robustprotect_file_id" hidden value="@item.Id">
                                        <input type="text" name="robustprotect_file_name" id="robustprotect_file_name" hidden value="@item.Name">
                                        <button class="robustprotect">Place robust Watermark</button>
                                    </form>
                                }
                                else
                                {

                                }
                                <form method="post">
                                    <input type="text" name="robustcheck_file_id" id="robustcheck_file_id" hidden value="@item.Id">
                                    <input type="text" name="robustcheck_file_name" id="robustcheck_file_name" hidden value="@item.Name">
                                    <button class="robustcheck">Check robust Watermark</button>
                                </form>
                                <form method="post">
                                    <input type="text" name="download_id" id="download_id" hidden value="@item.Id">
                                    <input type="text" name="download_name" id="download_name" hidden value="@item.Name">
                                    <button class="download"></button>
                                </form>
                            }
                        }
                    </div>

            </div>
        }
    }
</section>
