@using Entities;
@using BAL;

@{
    Layout = "~/Pages/Layouts/_MainLayout.cshtml";
    Page.Name = "Main";

    const string empty_img = "/9j/4QglRXhpZgAATU0AKgAAAAgABwESAAMAAAABAAEAAAEaAAUAAAABAAAAYgEbAAUAAAABAAAAagEoAAMAAAABAAIAAAExAAIAAAAiAAAAcgEyAAIAAAAUAAAAlIdpAAQAAAABAAAAqAAAANQACvyAAAAnEAAK/IAAACcQQWRvYmUgUGhvdG9zaG9wIENDIDIwMTUgKFdpbmRvd3MpADIwMTk6MDk6MTcgMTk6MTU6MDIAAAOgAQADAAAAAf//AACgAgAEAAAAAQAAAICgAwAEAAAAAQAAAIAAAAAAAAAABgEDAAMAAAABAAYAAAEaAAUAAAABAAABIgEbAAUAAAABAAABKgEoAAMAAAABAAIAAAIBAAQAAAABAAABMgICAAQAAAABAAAG6wAAAAAAAABIAAAAAQAAAEgAAAAB/9j/7QAMQWRvYmVfQ00AAf/uAA5BZG9iZQBkgAAAAAH/2wCEAAwICAgJCAwJCQwRCwoLERUPDAwPFRgTExUTExgRDAwMDAwMEQwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwBDQsLDQ4NEA4OEBQODg4UFA4ODg4UEQwMDAwMEREMDAwMDAwRDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDP/AABEIAIAAgAMBIgACEQEDEQH/3QAEAAj/xAE/AAABBQEBAQEBAQAAAAAAAAADAAECBAUGBwgJCgsBAAEFAQEBAQEBAAAAAAAAAAEAAgMEBQYHCAkKCxAAAQQBAwIEAgUHBggFAwwzAQACEQMEIRIxBUFRYRMicYEyBhSRobFCIyQVUsFiMzRygtFDByWSU/Dh8WNzNRaisoMmRJNUZEXCo3Q2F9JV4mXys4TD03Xj80YnlKSFtJXE1OT0pbXF1eX1VmZ2hpamtsbW5vY3R1dnd4eXp7fH1+f3EQACAgECBAQDBAUGBwcGBTUBAAIRAyExEgRBUWFxIhMFMoGRFKGxQiPBUtHwMyRi4XKCkkNTFWNzNPElBhaisoMHJjXC0kSTVKMXZEVVNnRl4vKzhMPTdePzRpSkhbSVxNTk9KW1xdXl9VZmdoaWprbG1ub2JzdHV2d3h5ent8f/2gAMAwEAAhEDEQA/APVUkkklKSSSSUpJRLlEvSUzkJbggl6b1ElJtwTyED1E4ekpNKdCD1IOSUzSTAp0lKSSSSU//9D1VJJJJSyi5yTnIL3pKXc9DdYhvesf6w/WXpvQMM5OdZqZFVLdbLHD82tv/f0lOwbFE2ryPJ/xvdbdaTi4eNXV+a231LHfN7LKG/8AgaD/AOO39ZP+4+F/mW/+9CSn2L1U4sXjn/jt/WT/ALj4f+Zb/wC9CJj/AON3rjbAcjDxbK+7axZW7/Pfbe3/AMDSU+xNsRWvXN/Vz609M+sGL6+G+LGR62O/SxhP7w/OZ+7YttliSm61yIDKqsejNckpKkmBlOkp/9H1VRcVJDeUlI3uVd70Sxyq2OSUxfYvEP8AGDmX5X1qzG2uLmY5bVU3s1oa10N/rPc969nseud6l9Uvq31DLszMvDFmRbBe8WWNkgbfo1WMYkp81+qv1Us+sT8iMgYtWMG7nFu8kv3bQ1m6v/R/vroT/iqH/lr/AOy//vwus6b0jpfR2WM6dQKG2kGz3OcSRo33Wue72qybUlPE/wDjVj/y1/8AZf8A9+Fg/Wn6o2fV5tFn2luVVeS0HZ6bg5uv0N1v/Vr1T1Vxn+M1+7Bwf+Nf/wBSElPOfUbLuxfrTgOqcW+rZ6VgHBY8bXNd/wBUvcWWLwb6pGPrL04/8O1e41vSU6Fb1YY5Ua3qzW5JTcYURAYUYFJT/9L1Q8ILyiu4QbElNewqra5WLSqlpSU1rXKpY9HtKp2nlJSN9iC6xKxy4b6xfXOwWvxOlO2hh22ZMAyRy2mfzf8AhElPcCxcj/jGfOHhD/hH/wDUhciet9ZJn7fka+Frx/35V8jLyspwfk3WXuaIDrHF5A/tkpKdD6qmPrH08/8ADtXtdT15V9Rvq9l5HUKeqWtNeJjncxx0Njho30/5DXfSevUaikpv1OVusqjUVcqKSm5WUdpVasqwxJT/AP/T9TdwgWKwUGwJKalqp2q7YFUtCSmjaFTtCvWtVS1qSnK6iXNw8hzTBFbyD5hpXjq9ozqHW411TPpWMc1s8SQWrzE/Uz6yj/tH/wCCVf8ApVJTufV/6r9IyulUZOTSbrbgXOJe5sakbWitzFs4/wBU/q/W8PbhtJHZ7nvH+ZY97FY6Dg34fScXGyG7bq2Q9oIMEkuiW+1abGJKSUMDQGtADQIAGgAV2pV62q3U1JTaqVypVamq3UElNmtWGIFYVhiSn//U9UKG8Iqg4JKaljVVsar72qtYxJTn2MVWytaNjFXfWkpzX1qhZ1Dpld3oWZdDLpj0nWMDp/qF25afUWuZg5D2SHtqeWkcghpheDEkkkmSdSSkp9vFSIytUfqkH2/Vzp73kl3pASfBpLW/9Fq2W1JKR11q1WxJlasV1pKZ1tVqtqHWxWK2pKS1hGaFBgRAkp//1fVUxEp0klIntQHsVsiUNzUlNF9aC+tXnMQnVpKaD6Q4FpEg6EHwXIW/4rvq2/INw+0VsJn0W2DZ8PdW63/wVd0a1E1JKc7FwaMTHrxsdgrppaGVsHYBHbUrPpKQqSUhbWjMrRG1oja0lLMYjsak1iK1qSlNCkkkkp//1vVUkkklKTESnSSUjLFAsR0xASU1jWo+mrOxNsSU1/TTitH2J9iSkQrU2sUw1PCSlg1SSSSUpJJJJT//2f/tEDhQaG90b3Nob3AgMy4wADhCSU0EJQAAAAAAEAAAAAAAAAAAAAAAAAAAAAA4QklNBDoAAAAAAPcAAAAQAAAAAQAAAAAAC3ByaW50T3V0cHV0AAAABQAAAABQc3RTYm9vbAEAAAAASW50ZWVudW0AAAAASW50ZQAAAABJbWcgAAAAD3ByaW50U2l4dGVlbkJpdGJvb2wAAAAAC3ByaW50ZXJOYW1lVEVYVAAAAAEAAAAAAA9wcmludFByb29mU2V0dXBPYmpjAAAAFQQfBDAEQAQwBDwENQRCBEAESwAgBEYEMgQ1BEIEPgQ/BEAEPgQxBEsAAAAAAApwcm9vZlNldHVwAAAAAQAAAABCbHRuZW51bQAAAAxidWlsdGluUHJvb2YAAAAJcHJvb2ZDTVlLADhCSU0EOwAAAAACLQAAABAAAAABAAAAAAAScHJpbnRPdXRwdXRPcHRpb25zAAAAFwAAAABDcHRuYm9vbAAAAAAAQ2xicmJvb2wAAAAAAFJnc01ib29sAAAAAABDcm5DYm9vbAAAAAAAQ250Q2Jvb2wAAAAAAExibHNib29sAAAAAABOZ3R2Ym9vbAAAAAAARW1sRGJvb2wAAAAAAEludHJib29sAAAAAABCY2tnT2JqYwAAAAEAAAAAAABSR0JDAAAAAwAAAABSZCAgZG91YkBv4AAAAAAAAAAAAEdybiBkb3ViQG/gAAAAAAAAAAAAQmwgIGRvdWJAb+AAAAAAAAAAAABCcmRUVW50RiNSbHQAAAAAAAAAAAAAAABCbGQgVW50RiNSbHQAAAAAAAAAAAAAAABSc2x0VW50RiNQeGxAUgAAAAAAAAAAAAp2ZWN0b3JEYXRhYm9vbAEAAAAAUGdQc2VudW0AAAAAUGdQcwAAAABQZ1BDAAAAAExlZnRVbnRGI1JsdAAAAAAAAAAAAAAAAFRvcCBVbnRGI1JsdAAAAAAAAAAAAAAAAFNjbCBVbnRGI1ByY0BZAAAAAAAAAAAAEGNyb3BXaGVuUHJpbnRpbmdib29sAAAAAA5jcm9wUmVjdEJvdHRvbWxvbmcAAAAAAAAADGNyb3BSZWN0TGVmdGxvbmcAAAAAAAAADWNyb3BSZWN0UmlnaHRsb25nAAAAAAAAAAtjcm9wUmVjdFRvcGxvbmcAAAAAADhCSU0D7QAAAAAAEABIAAAAAQACAEgAAAABAAI4QklNBCYAAAAAAA4AAAAAAAAAAAAAP4AAADhCSU0EDQAAAAAABAAAAFo4QklNBBkAAAAAAAQAAAAeOEJJTQPzAAAAAAAJAAAAAAAAAAABADhCSU0nEAAAAAAACgABAAAAAAAAAAI4QklNA/UAAAAAAEgAL2ZmAAEAbGZmAAYAAAAAAAEAL2ZmAAEAoZmaAAYAAAAAAAEAMgAAAAEAWgAAAAYAAAAAAAEANQAAAAEALQAAAAYAAAAAAAE4QklNA/gAAAAAAHAAAP////////////////////////////8D6AAAAAD/////////////////////////////A+gAAAAA/////////////////////////////wPoAAAAAP////////////////////////////8D6AAAOEJJTQQAAAAAAAACAAA4QklNBAIAAAAAAAQAAAAAOEJJTQQwAAAAAAACAQE4QklNBC0AAAAAAAYAAQAAAAE4QklNBAgAAAAAABAAAAABAAACQAAAAkAAAAAAOEJJTQQeAAAAAAAEAAAAADhCSU0EGgAAAAADSwAAAAYAAAAAAAAAAAAAAIAAAACAAAAACwQRBDUENwAgBDgEPAQ1BD0EOAAtADEAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAIAAAACAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAEAAAAAAABudWxsAAAAAgAAAAZib3VuZHNPYmpjAAAAAQAAAAAAAFJjdDEAAAAEAAAAAFRvcCBsb25nAAAAAAAAAABMZWZ0bG9uZwAAAAAAAAAAQnRvbWxvbmcAAACAAAAAAFJnaHRsb25nAAAAgAAAAAZzbGljZXNWbExzAAAAAU9iamMAAAABAAAAAAAFc2xpY2UAAAASAAAAB3NsaWNlSURsb25nAAAAAAAAAAdncm91cElEbG9uZwAAAAAAAAAGb3JpZ2luZW51bQAAAAxFU2xpY2VPcmlnaW4AAAANYXV0b0dlbmVyYXRlZAAAAABUeXBlZW51bQAAAApFU2xpY2VUeXBlAAAAAEltZyAAAAAGYm91bmRzT2JqYwAAAAEAAAAAAABSY3QxAAAABAAAAABUb3AgbG9uZwAAAAAAAAAATGVmdGxvbmcAAAAAAAAAAEJ0b21sb25nAAAAgAAAAABSZ2h0bG9uZwAAAIAAAAADdXJsVEVYVAAAAAEAAAAAAABudWxsVEVYVAAAAAEAAAAAAABNc2dlVEVYVAAAAAEAAAAAAAZhbHRUYWdURVhUAAAAAQAAAAAADmNlbGxUZXh0SXNIVE1MYm9vbAEAAAAIY2VsbFRleHRURVhUAAAAAQAAAAAACWhvcnpBbGlnbmVudW0AAAAPRVNsaWNlSG9yekFsaWduAAAAB2RlZmF1bHQAAAAJdmVydEFsaWduZW51bQAAAA9FU2xpY2VWZXJ0QWxpZ24AAAAHZGVmYXVsdAAAAAtiZ0NvbG9yVHlwZWVudW0AAAARRVNsaWNlQkdDb2xvclR5cGUAAAAATm9uZQAAAAl0b3BPdXRzZXRsb25nAAAAAAAAAApsZWZ0T3V0c2V0bG9uZwAAAAAAAAAMYm90dG9tT3V0c2V0bG9uZwAAAAAAAAALcmlnaHRPdXRzZXRsb25nAAAAAAA4QklNBCgAAAAAAAwAAAACP/AAAAAAAAA4QklNBBQAAAAAAAQAAAACOEJJTQQMAAAAAAcHAAAAAQAAAIAAAACAAAABgAAAwAAAAAbrABgAAf/Y/+0ADEFkb2JlX0NNAAH/7gAOQWRvYmUAZIAAAAAB/9sAhAAMCAgICQgMCQkMEQsKCxEVDwwMDxUYExMVExMYEQwMDAwMDBEMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMAQ0LCw0ODRAODhAUDg4OFBQODg4OFBEMDAwMDBERDAwMDAwMEQwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAz/wAARCACAAIADASIAAhEBAxEB/90ABAAI/8QBPwAAAQUBAQEBAQEAAAAAAAAAAwABAgQFBgcICQoLAQABBQEBAQEBAQAAAAAAAAABAAIDBAUGBwgJCgsQAAEEAQMCBAIFBwYIBQMMMwEAAhEDBCESMQVBUWETInGBMgYUkaGxQiMkFVLBYjM0coLRQwclklPw4fFjczUWorKDJkSTVGRFwqN0NhfSVeJl8rOEw9N14/NGJ5SkhbSVxNTk9KW1xdXl9VZmdoaWprbG1ub2N0dXZ3eHl6e3x9fn9xEAAgIBAgQEAwQFBgcHBgU1AQACEQMhMRIEQVFhcSITBTKBkRShsUIjwVLR8DMkYuFygpJDUxVjczTxJQYWorKDByY1wtJEk1SjF2RFVTZ0ZeLys4TD03Xj80aUpIW0lcTU5PSltcXV5fVWZnaGlqa2xtbm9ic3R1dnd4eXp7fH/9oADAMBAAIRAxEAPwD1VJJJJSkkkklKSUS5RL0lM5CW4IJem9RJSbcE8hA9ROHpKTSnQg9SDklM0kwKdJSkkkklP//Q9VSSSSUsouck5yC96Sl3PQ3WIb3rH+sP1l6b0DDOTnWamRVS3Wyxw/Nrb/39JTsGxRNq8jyf8b3W3Wk4uHjV1fmtt9Sx3zeyyhv/AIGg/wDjt/WT/uPhf5lv/vQkp9i9VOLF45/47f1k/wC4+H/mW/8AvQiY/wDjd642wHIw8Wyvu2sWVu/z323t/wDA0lPsTbEVr1zf1c+tPTPrBi+vhvixketjv0sYT+8Pzmfu2LbZYkputciAyqrHozXJKSpJgZTpKf/R9VUXFSQ3lJSN7lXe9EscqtjklMX2LxD/ABg5l+V9asxtri5mOW1VN7NaGtdDf6z3PevZ7HrnepfVL6t9Qy7MzLwxZkWwXvFljZIG36NVjGJKfNfqr9VLPrE/IjIGLVjBu5xbvJL920NZur/0f766E/4qh/5a/wDsv/78LrOm9I6X0dljOnUChtpBs9znEkaN91rnu9qsm1JTxP8A41Y/8tf/AGX/APfhYP1p+qNn1ebRZ9pblVXktB2em4Obr9Ddb/1a9U9VcZ/jNfuwcH/jX/8AUhJTzn1Gy7sX604DqnFvq2elYBwWPG1zXf8AVL3Fli8G+qRj6y9OP/DtXuNb0lOhW9WGOVGt6s1uSU3GFEQGFGBSU//S9UPCC8oruEGxJTXsKq2uVi0qpaUlNa1yqWPR7Sqdp5SUjfYgusSscuG+sX1zsFr8TpTtoYdtmTAMkctpn83/AIRJT3AsXI/4xnzh4Q/4R/8A1IXInrfWSZ+35Gvha8f9+VfIy8rKcH5N1l7miA6xxeQP7ZKSnQ+qpj6x9PP/AA7V7XU9eVfUb6vZeR1CnqlrTXiY53McdDY4aN9P+Q130nr1GopKb9TlbrKo1FXKikpuVlHaVWrKsMSU/wD/0/U3cIFisFBsCSmpaqdqu2BVLQkpo2hU7Qr1rVUtakpyuolzcPIc0wRW8g+YaV46vaM6h1uNdUz6VjHNbPEkFq8xP1M+so/7R/8AglX/AKVSU7n1f+q/SMrpVGTk0m624FziXubGpG1orcxbOP8AVP6v1vD24bSR2e57x/mWPexWOg4N+H0nFxshu26tkPaCDBJLolvtWmxiSklDA0BrQA0CABoAFdqVetqt1NSU2qlcqVWpqt1BJTZrVhiBWFYYkp//1PVChvCKoOCSmpY1VbGq+9qrWMSU59jFVsrWjYxV31pKc19aoWdQ6ZXd6FmXQy6Y9J1jA6f6hduWn1FrmYOQ9kh7anlpHIIaYXgxJJJJknUkpKfbxUiMrVH6pB9v1c6e95Jd6QEnwaS1v/RatltSSkddatVsSZWrFdaSmdbVarah1sVitqSktYRmhQYEQJKf/9X1VMRKdJJSJ7UB7FbIlDc1JTRfWgvrV5zEJ1aSmg+kOBaRIOhB8FyFv+K76tvyDcPtFbCZ9Ftg2fD3Vut/8FXdGtRNSSnOxcGjEx68bHYK6aWhlbB2AR21Kz6SkKklIW1ozK0RtaI2tJSzGI7GpNYitakpTQpJJJKf/9b1VJJJJSkxEp0klIyxQLEdMQElNY1qPpqzsTbElNf004rR9ifYkpEK1NrFMNTwkpYNUkkklKSSSSU//9kAOEJJTQQhAAAAAABdAAAAAQEAAAAPAEEAZABvAGIAZQAgAFAAaABvAHQAbwBzAGgAbwBwAAAAFwBBAGQAbwBiAGUAIABQAGgAbwB0AG8AcwBoAG8AcAAgAEMAQwAgADIAMAAxADUAAAABADhCSU0EBgAAAAAABwAEAAAAAQEA/+EOgWh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8APD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS42LWMxMTEgNzkuMTU4MzI1LCAyMDE1LzA5LzEwLTAxOjEwOjIwICAgICAgICAiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIiB4bWxuczpzdEV2dD0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlRXZlbnQjIiB4bWxuczpwaG90b3Nob3A9Imh0dHA6Ly9ucy5hZG9iZS5jb20vcGhvdG9zaG9wLzEuMC8iIHhtbG5zOmRjPSJodHRwOi8vcHVybC5vcmcvZGMvZWxlbWVudHMvMS4xLyIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ0MgMjAxNSAoV2luZG93cykiIHhtcDpDcmVhdGVEYXRlPSIyMDE5LTA5LTE3VDE5OjE1OjAyKzA0OjAwIiB4bXA6TWV0YWRhdGFEYXRlPSIyMDE5LTA5LTE3VDE5OjE1OjAyKzA0OjAwIiB4bXA6TW9kaWZ5RGF0ZT0iMjAxOS0wOS0xN1QxOToxNTowMiswNDowMCIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo1YmY4ZDVmYy1kNzJmLTdjNDgtYTlhZS1kOWNhYTA1NDBjZGEiIHhtcE1NOkRvY3VtZW50SUQ9ImFkb2JlOmRvY2lkOnBob3Rvc2hvcDplM2JhNGI0YS1kOTVkLTExZTktOTA0My04OWQ1OTUyNTVjYTgiIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDpjMjU2MGQ3YS00NWE2LTJlNDEtOWNhNC1jZWI3NGQ5NDU3NTMiIHBob3Rvc2hvcDpDb2xvck1vZGU9IjMiIHBob3Rvc2hvcDpJQ0NQcm9maWxlPSJBZG9iZSBSR0IgKDE5OTgpIiBkYzpmb3JtYXQ9ImltYWdlL2pwZWciPiA8eG1wTU06SGlzdG9yeT4gPHJkZjpTZXE+IDxyZGY6bGkgc3RFdnQ6YWN0aW9uPSJjcmVhdGVkIiBzdEV2dDppbnN0YW5jZUlEPSJ4bXAuaWlkOmMyNTYwZDdhLTQ1YTYtMmU0MS05Y2E0LWNlYjc0ZDk0NTc1MyIgc3RFdnQ6d2hlbj0iMjAxOS0wOS0xN1QxOToxNTowMiswNDowMCIgc3RFdnQ6c29mdHdhcmVBZ2VudD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTUgKFdpbmRvd3MpIi8+IDxyZGY6bGkgc3RFdnQ6YWN0aW9uPSJzYXZlZCIgc3RFdnQ6aW5zdGFuY2VJRD0ieG1wLmlpZDo1YmY4ZDVmYy1kNzJmLTdjNDgtYTlhZS1kOWNhYTA1NDBjZGEiIHN0RXZ0OndoZW49IjIwMTktMDktMTdUMTk6MTU6MDIrMDQ6MDAiIHN0RXZ0OnNvZnR3YXJlQWdlbnQ9IkFkb2JlIFBob3Rvc2hvcCBDQyAyMDE1IChXaW5kb3dzKSIgc3RFdnQ6Y2hhbmdlZD0iLyIvPiA8L3JkZjpTZXE+IDwveG1wTU06SGlzdG9yeT4gPHBob3Rvc2hvcDpUZXh0TGF5ZXJzPiA8cmRmOkJhZz4gPHJkZjpsaSBwaG90b3Nob3A6TGF5ZXJOYW1lPSI/IiBwaG90b3Nob3A6TGF5ZXJUZXh0PSI/Ii8+IDwvcmRmOkJhZz4gPC9waG90b3Nob3A6VGV4dExheWVycz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPD94cGFja2V0IGVuZD0idyI/Pv/iAkBJQ0NfUFJPRklMRQABAQAAAjBBREJFAhAAAG1udHJSR0IgWFlaIAfPAAYAAwAAAAAAAGFjc3BBUFBMAAAAAG5vbmUAAAAAAAAAAAAAAAAAAAAAAAD21gABAAAAANMtQURCRQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACmNwcnQAAAD8AAAAMmRlc2MAAAEwAAAAa3d0cHQAAAGcAAAAFGJrcHQAAAGwAAAAFHJUUkMAAAHEAAAADmdUUkMAAAHUAAAADmJUUkMAAAHkAAAADnJYWVoAAAH0AAAAFGdYWVoAAAIIAAAAFGJYWVoAAAIcAAAAFHRleHQAAAAAQ29weXJpZ2h0IDE5OTkgQWRvYmUgU3lzdGVtcyBJbmNvcnBvcmF0ZWQAAABkZXNjAAAAAAAAABFBZG9iZSBSR0IgKDE5OTgpAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABYWVogAAAAAAAA81EAAQAAAAEWzFhZWiAAAAAAAAAAAAAAAAAAAAAAY3VydgAAAAAAAAABAjMAAGN1cnYAAAAAAAAAAQIzAABjdXJ2AAAAAAAAAAECMwAAWFlaIAAAAAAAAJwYAABPpQAABPxYWVogAAAAAAAANI0AAKAsAAAPlVhZWiAAAAAAAAAmMQAAEC8AAL6c/+4ADkFkb2JlAGQAAAAAAf/bAIQABgQEBAUEBgUFBgkGBQYJCwgGBggLDAoKCwoKDBAMDAwMDAwQDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAEHBwcNDA0YEBAYFA4ODhQUDg4ODhQRDAwMDAwREQwMDAwMDBEMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwM/8AAEQgAgACAAwERAAIRAQMRAf/dAAQAEP/EAaIAAAAHAQEBAQEAAAAAAAAAAAQFAwIGAQAHCAkKCwEAAgIDAQEBAQEAAAAAAAAAAQACAwQFBgcICQoLEAACAQMDAgQCBgcDBAIGAnMBAgMRBAAFIRIxQVEGE2EicYEUMpGhBxWxQiPBUtHhMxZi8CRygvElQzRTkqKyY3PCNUQnk6OzNhdUZHTD0uIIJoMJChgZhJRFRqS0VtNVKBry4/PE1OT0ZXWFlaW1xdXl9WZ2hpamtsbW5vY3R1dnd4eXp7fH1+f3OEhYaHiImKi4yNjo+Ck5SVlpeYmZqbnJ2en5KjpKWmp6ipqqusra6voRAAICAQIDBQUEBQYECAMDbQEAAhEDBCESMUEFURNhIgZxgZEyobHwFMHR4SNCFVJicvEzJDRDghaSUyWiY7LCB3PSNeJEgxdUkwgJChgZJjZFGidkdFU38qOzwygp0+PzhJSktMTU5PRldYWVpbXF1eX1RlZmdoaWprbG1ub2R1dnd4eXp7fH1+f3OEhYaHiImKi4yNjo+DlJWWl5iZmpucnZ6fkqOkpaanqKmqq6ytrq+v/aAAwDAQACEQMRAD8A9U4q7FXYq7FXYq7FWuQxVr1BirvUGKthxirdRirsVdirsVdirsVf/9D1TirsVdirq4qsaQDFVJpsVUmnxVYZ8Va+se+KrxP74qqLNiqqsoxVUBBxVvFXYq7FX//R9U4q7FXE0xVRkkxVDSTYqhpLjFUO1z74qpm598Va+s++Kr1uffFVdLj3xVERz4qio5cVRCsDireKuxV//9L1TirsVUZZMVQcsuKoKafFWG/mD+ZXlvyRpDajrM9GeotbOOhnncfsxqSP9k5+BMVfOup/85eedZLp203R9Ot7Wp4R3Innkp2q6SQL/wAJiqC/6G1/Mj/q3aR/yJuv+ynFXf8AQ2v5j/8AVv0j/kTdf9lOKorT/wDnLrzxHcK1/pGm3FsPtxwCeByPZ3lnUf8AIvFX0J+XX5peWvPOmfXNJm43MQH1zT5SBPCx/mUfaQ/syL8Lf63w4qzaK498VRsM2Ko2KSuKolWqMVbxV//T9U4qskagxVBzSYql883XFUunn674q+Iv+cgtZvtS/NTWEuZS8Vi0dtaRk/CkaxqxC/6zszn/AFsVQv5WflTc+fZL8rqKadbaeIxJKYjM7NLy4hU5R7URuTc8VegH/nFdB/01P/Th/wBnOKtD/nFdP+pp/wCnD/s5xVgn5pflHc+RIrG4/SSala3rPGGERgdXQA0Kc5QVIPXniql+R2rXum/mjoT2shQXM31W4UHZ4pgQyt4itG/1lXFX3FBce+KpjBNiqYQS4qjonxVXxV//1PVOKoeZsVS+4friqWXMvXFUquJuuKvOvMn5Tflxruqz6tqmjrPqFyQZ5lnuIuRACglY5EStB/Liqt5b8o+V/KkNxDoFiLKO6ZXn+OSVmKii1aVnagqaLXjiqZvde+KrRde+KvHP+cmZfU0PRPa5l/5NjFXlP5Smn5leXT4XseKvuC3n6YqmltNXFU0t5OmKpjA+KoxDUYq//9X1Q3TFUHO3XFUsuX64qlV1J1xVKLqXriqUXM3XFUtnn64qgnuN+uKrVuN+uKvJv+cjJQ+jaMK7/WJTT/YDFXmf5Vmn5i+Xz/y+R4q+1LWXpiqb2snTFU3tn6Yqmlu3TFUfEcVf/9b1PJ0xVAznriqV3R64qlF03XFUmum64qk903XFUpuJOuKvEPzE/OW4S5l0vy1IE9JilxqNAxLA0Kwg1FP+LP8AgP5sVebN5284sxY67qAJ3NLqYD7gwGKoDUNV1TUpFk1G8nvJEHFHuJHlYDwBcnFXpf5H/l9q195gs/MlzGbfSrFjLA77GeUAhQg/kU/Ez/7H/VVfUNo3TFU5tG6YqnFqemKprbnYYqmMJxV//9f1PJ0xVAT98VSu574qlF2OuKpNdjriqTXQ64qx3zCzppF+6Ehlt5WUjqCEJBxV8d4q9t8g/lj5Q1HyvY6hqNo11c3SmR3aWVAPiICqI2QU2xVmGn/lR5At5llTR42ddwJZJpl+lJHdD/wOKs/sokjRURQiKAFVRQADoABiqc2g6YqnNoOmKpzajpiqa23bFUxh7Yq//9D1O42xVBzjriqV3K9cVSm6TriqT3UfXFUouYuuKpFrdjJc6bd28dPUmhkjSuw5MhAr9+KvmQ/k1+ZIP/HI+n6xa/8AVXFXvHkbQ77SvKmmaffII7u3h4zICGCsWLUqKg0r2xVk0MGKplbRdMVTa1j6YqnFqnTFU3tV6YqmtuvTFUwiGKv/0fVJ6YqhZlxVLrhOuKpVcx9cVSq5h64qldxB12xVLprf2xVIbnXvLUN59Sm1ayjvK8fqz3ESy18OBbliqYrbV3G47HFURFbe2Ko+3t+mKpnbQ9NsVTa2i6YqmltH0xVM4E6YqjYxQYq//9L1TiqlKuKoGePFUuuIq1xVLbiDriqXT2/tiqR+YopYtE1GWIlZY7aZo2XqGWMkEfTir4PZmZizEszGrMdySe5xV9kflOJrr8udAmmJeQ2qryO5ohKrv/qgYqzKO136YqjIbb2xVMILfptiqZ28PTFUxgixVMIUxVEgUGKv/9P1TiriKjFUNLHiqBmixVAzQe2KoGW29sVQc9krqyOoZWBDKRUEHqDiryO6/wCcXvy3mvzdKb6GIsWNnHOvo7mtByjaWn/PTFXpml6FY6Xp9vp1hCILO1jWKCFa0VFFAN98VRyWvtiqKitvbFUZDb9NsVR8MOKo6GLFUWi0GKr8Vf/U9U4q7FWmWoxVDSRYqhJYPbFULJb+2Kod7b2xVSNr7Yq19V9sVXra+2KoiO29sVRMcGKouKHFUVHHTFVTFXYq/wD/1fVOKuxV2KtMoOKqLxYqoPBiqk1v7Yqpm39sVaFviq9bf2xVVSD2xVXSHFVZY6YqvxV2KuxV/9b1TirsVdirsVdiq0oDiq0xDFVvo4q70cVbEOKrhGBiq8ADFXYq7FXYq7FX/9k=";

}
<script>

</script>

@{
    IAwardAssotiateLogic awardManagerLogic = new AwardLogic(System.Web.Hosting.HostingEnvironment.MapPath("~/Data/awards.txt"), System.Web.Hosting.HostingEnvironment.MapPath("~/Data/assotiations.txt"));
    IUserLogic userManagerLogic = new UserLogic(System.Web.Hosting.HostingEnvironment.MapPath("~/Data/users.txt"));

    awardManagerLogic.LoadData();
    userManagerLogic.LoadData();

    var tempA = awardManagerLogic.GetAllAssotiations();
    var tempAw = awardManagerLogic.GetAll();
    var tempU = userManagerLogic.GetAll();

    string addMessage = "", removeMessage = "";

}

<div>
    <table>
        <colgroup>
            <col width="100" />
            <col width="100" />
            <col width="250" />
            <col width="350" />
        </colgroup>
        @foreach (var item in tempU)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @{
                        string IMG = "data:image/gif;base64,";
                        if (item.Base64img.Length != 0)
                        {
                            IMG += item.Base64img;
                        }
                        else
                        {
                            IMG += empty_img;
                        }
                    }

                    <img src=@IMG width="100" height="100" />
                </td>
                <td>
                    @item.Name
                </td>

                @{var r = from i in tempA where (i.firstID == item.Id) select i.secondID;
                    string awards = "";
                    if (r.Count() > 0)
                    {
                        foreach (var item1 in r)
                        {
                            awards += awardManagerLogic.Find(item1).Name + " ";
                        }
                    }
                }
                <td>
                    @awards
                </td>
            </tr>
        }
    </table>
</div>

@{
    if (IsPost)
    {
        if (Request.Form.AllKeys.Contains("select-add-User"))
        {
            try
            {
                if (!awardManagerLogic.Associate(lib.GetId(Request["select-add-User"]), lib.GetId(Request["select-add-Award"])))
                {
                    throw new FormatException("Already graded");
                }

                awardManagerLogic.SaveData();
                userManagerLogic.SaveData();

                Response.Redirect("~/Pages/main.cshtml");
            }
            catch (Exception e)
            {
                addMessage = e.Message;
            }
        }
        else
        {
            try
            {
                if (!awardManagerLogic.deAssociate(lib.GetId(Request["select-remove-User"]), lib.GetId(Request["select-remove-Award"])))
                {
                    throw new FormatException("User dont have this award");
                }

                awardManagerLogic.SaveData();
                userManagerLogic.SaveData();

                Response.Redirect("~/Pages/main.cshtml");
            }
            catch (Exception e)
            {
                removeMessage = e.Message;
            }
        }
    }
}


<div class="forminpt">
    <form method="post">
        <fieldset class="adduser">
            <legend>Give Award</legend>
            <label>User Id</label>
            <select name="select-add-User">
                @foreach (var item in tempU)
                {
                    string temp = $"{item.Id} {item.Name}";
                    <option>@temp</option>
                }
            </select>
            <label>Award Id</label>
            <select name="select-add-Award">
                @foreach (var item in tempAw)
                {
                    string temp = $"{item.Id} {item.Name}";
                    <option>@temp</option>
                }
            </select>

            <input type="submit" value="submit" id="addbutton" />
            <label class="errorMessage">@addMessage</label>

        </fieldset>
    </form>

    <form method="post">
        <fieldset class="removeuser">
            <legend>Take Award</legend>
            <label>User Id</label>
            <select name="select-remove-User">
                @foreach (var item in tempU)
                {
                    string temp = $"{item.Id} {item.Name}";
                    <option>@temp</option>
                }
            </select>
            <label>Award Id</label>
            <select name="select-remove-Award">
                @foreach (var item in tempAw)
                {
                    string temp = $"{item.Id} {item.Name}";
                    <option>@temp</option>
                }
            </select>

            <input type="submit" value="submit" id="addbutton" />
            <label class="errorMessage">@removeMessage</label>

        </fieldset>
    </form>

    </form>
</div>

